Keras
Keras_Preprocessing
nltk==3.5
scikit-learn==0.22.1
tensorboard==2.3.0+computecanada
tensorboard_plugin_wit==1.7.0
tensorflow_gpu==2.3.0+computecanada
tensorflow_estimator==2.3.0
tokenizers==0.5.2
torchtext==0.6.0
transformers==2.5.1
pycocotools==2.0.2
